/*Loader*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent */
  z-index: 1000;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--primary-color); /* Couleur principale */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sports-page {
  animation: fadeIn 0.8s ease-in-out;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sports-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Filtres */
.filters {
  display: flex;
  flex-wrap: wrap; /* Adaptation en responsive */
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 90%;
}

.filters input {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  width: 250px; /* Taille standard */
  max-width: 100%; /* S'adapte à la largeur */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.filters input:focus {
  border-color: var(--accent-color);
  box-shadow: 0 0 8px var(--accent-color);
}

/* Grille responsive */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 20px 0;
  width: 90%; /* S'adapte à la largeur de l'écran */
}

/* Carte interactive */
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-color);
  color: white;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.card p {
  font-size: 1rem;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.card:hover h2,
.card:hover p {
  color: white;
}

/* Aucun résultat */
.no-results {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-top: 20px;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    gap: 10px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
